<style>
  jira-issue > div > * {
    vertical-align: middle;
    display: inline-block;
  }
</style>
<div style="display:inline-block">
  <jira-issue-info params="jiraIssue:$data" style="vertical-align:top;display:inline-block"></jira-issue-info>
  <!-- ko if: hasIssue -->
  <jira-issue-comment params="jiraIssue:$data" style="vertical-align:top;display:inline-block"></jira-issue-comment>
  <jira-issue-summary params="jiraIssue:$data"></jira-issue-summary>
  <jira-issue-comment-last params="jiraIssue:$data"></jira-issue-comment-last>
  <!-- /ko -->
  <pre data-bind="text:lastErrorString,visible:lastErrorString()"></pre>
  <div>
    <label>serverSessionID:</label>:<pre data-bind="text:serverSessionID"></pre>
    <label>jSessionID:</label>:<pre data-bind="text:jSessionID"></pre>
  </div>
</div>

