<style>
  jira-issue-comment .success-flash {
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  jira-issue-comment .comment-loaded{
    background-color:darkseagreen;
  }
  jira-issue-comment .comment-loading{
    background-color:#c5eaf6;
  }
</style>
<input class="form-control success-flash" type="text" style="width:20em;display:inline-block;vertical-align:inherit;"
       data-bind="value:commentNew,css:{'comment-loaded':isCommentLoaded(),'comment-loading':isCommentLoading()}" placeholder="add comment">
<button data-bind="click:addComment" class="btn btn-default btn-sm">Add</button>
